<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Customer Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/custom.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="firstName">Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <input type="submit" value="Update User">
</form>
</body>
</html>